{% extends 'learning_logs/base.html' %}
{% load bootstrap3 %}

{% block header %}
    <h2>Add a new topic:</h2>
{% endblock header %}

{% block content %}
    <form action="{% url 'learning_logs:new_topic' %}" method="POST" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
        <button name="submit" class="btn btn-primary">add topic</button>
        {% endbuttons %}
    
    </form>
{% endblock content %}

<!-- Django uses the template tag % csrf_token %  to prevent attackers
from using the form to gain unauthorized access to the server this kind of
attack is called a cross-site request forgery -->

<!-- We only
need to include the template variable  form.as_p  for Django to create
all the fields necessary to display the form automatically. The as_p modifier
tells Django to render all the form elements in paragraph format, which is
a simple way to display the form neatly -->